* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  cursor: pointer;
}
header {
  height: 90px;
  background-color: #27ae60;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
header > .title {
  font-size: 27px;
  font-weight: bold;
}
header > ul {
  width: 160px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding-inline-start: 0;
}
.container {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 786px) {
  header {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
  }
}